/* Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-grey: #eeeeee;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-blue: #81b3d2;
  --basic-brown: #766357;

  --grey-background: #f2f2f2;
  --grey-background-dark: #ebebeb;

  --rate: #666666;

  --logo-active: #bdbbbc;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-border: #e5e5e5;

  --brown-button-hover: #604e43;
  --brown-button-active: #503e33;
  --blue-button-hover: #669ec0;
  --blue-button-active: #5496bd;

  --shadow-page: rgba(0, 1, 1, 0.2);
  --shadow-modal: rgba(0, 1, 1, 0.15);

  --toggle-shadow: #cfcfcf;
  --toggle-background: #ababab;

  --transition-duration: 0.25s;
}

/* Global */

body {
  overflow-y: scroll;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
  color: var(--basic-black)
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--basic-white);
}

/* Utility */

.reset-list-styles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow-page);
}

.container {
  width: 1200px;
  margin: 0 auto;

}

/* Grid */

.page-body {
  min-height: 100%;
  background-color: var(--grey-background);
}

.page-main {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  min-height: 120px;
}

/* Navigation */

.header {
  margin: 0 auto;
  background-color: var(--basic-white);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 133px;
  margin: 0 auto;
  padding: 0 72px;
  font-size: 14px;
  line-height: 1.8;
  color: var(--basic-black);
  font-weight: 700;
}

.header-logo {
  position: relative;
  order: 3;
  width: 138px;
  height: 70px;
  z-index: 10;
}

.header-logo img {
  background-color: transparent;
}

.site-nav {
  display: contents;
}

.site-nav li {
  white-space: nowrap;
  padding: 15px 0;
}

.site-nav li:first-child {
  margin-right: 2px;
  order: 1;
}

.site-nav li:nth-child(2) {
  order: 2;
}

.site-nav li:nth-child(3) {
  order: 4;
  margin: 0 14px;

}

.site-nav li:last-child {
  order: 5;

}

.site-nav-current {
  color: var(--basic-brown)
}

.site-nav a {
  transition: color var(--transition-duration) ease-out ,
              opacity var(--transition-duration) ease-out;
}

.site-nav a:hover {
  color: var(--basic-blue)
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Short-info */

.short-info {
  position: relative;
  margin-top: 536px;
  min-height: 80px;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  background-color: var(--basic-white);
}

.short-info p {

}

.short-info::before {
  content: '';
  top: -550px;
  left: 0;
  width: 1200px;
  height: 509px;
  position: absolute;
  background-color: var(--basic-blue);
  background-image: url("../img/svg/welcome.svg"),
  url("../img/svg/white-mask.svg"),
  url('../img/index-background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 48%,
  0 100%,
  0 0;
  z-index: 1;
}

/* Features */

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "r1 r1 r1"
    "r1 r1 r1"
    "r2 r2 r2"
    "r3 r4 r5";
}

.reason-1 {
  display: grid;
  min-height: 586px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-area: r1;
}

.reason-1 p:first-of-type {
  margin-top: 5px;
}

.reason-1 .features-item-wrapper {
  grid-column: 1 / 2;
}

.img-wrapper {
  width: 800px;
  height: 256px;
}

.reason-1 .img-wrapper {
  grid-column: 2 / 4;
}

.reason-2 {
  display: grid;
  min-height: 256px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: r2;

}

.reason-2 .img-wrapper {
  order: -1;
}

.reason-2 .features-item-wrapper {
 padding-top: 5px;
}

.reason-3 {
  grid-area: r3;
}

.reason-4 {
  grid-area: r4;
}

.reason-5 {
  grid-area: r5;
}

.features h2 + p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--basic-black-light);
  text-align: center;
  margin-bottom: 54px;
}

.features-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 45px;
}

.features-item {
  min-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.features h3 {
  max-width: 150px;
  margin: 47px 0 0;
}

.features-item-wrapper p,
.other p {
  margin: 0;
}

.features h3,
.features h4 {
  font-size: 21px;
  line-height: 1;
}

.features h4 {
  position: relative;
  margin-top: 160px;
}

.house-header::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 107px;
  width: 75px;
  height: 72px;
  background-image: url("../img/svg/icon-house.svg");
  background-repeat: no-repeat;
}

.food-header::before {
  content: '';
  position: absolute;
  top: -98px;
  left: 107px;
  width: 75px;
  height: 70px;
  background-image: url("../img/svg/icon-food.svg");
  background-repeat: no-repeat;
}

.gifts-header::before {
  content: '';
  position: absolute;
  top: -103px;
  left: 112px;
  width: 64px;
  height: 77px;
  background-image: url("../img/svg/icon-gifts.svg");
  background-repeat: no-repeat;
}

.features img {
  color: inherit;
  background-color: inherit;
}

.features-item-city {
  display: grid;
  min-height: 330px;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.features-item-city li {
  padding: 0 55px;
}

.features-item.other {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 71px 0 71px;
  color: var(--basic-black-light);
  background-color: var(--basic-grey);
}

.other p {
  margin-top: 3px;
}

.features span {
  margin: 25px 0 23px;
}

/* Hotels Search */

.hotels-search {
  position: relative;
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hotels-search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 291px;
}

.interested {
  margin-top: 57px;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 0.8;
  text-align: center;
  font-weight: 700;
}

.set-date {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
  text-align: center;
}

.map-sedona-img {
  position: relative;
  z-index: 0;
  margin: 0 0 -145px;
}

.map-sedona-iframe {
  position: relative;
  z-index: 1;
  border: 0;
  margin: -593px 0 -120px;
}

/* Modal */

.modal-wrapper {
  right: 316px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 458px;
  z-index: 2;
  width: 458px;
  padding: 55px;
  box-shadow: 0 7px 15px var(--shadow-modal);
  background-color: var(--basic-white);
}

.modal {
  display: contents;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-width: 458px;
}

.date-arrival {
  height: min-content;
}

.date-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 346px;
  height: 38px;
  background-color: var(--grey-background);
  box-sizing: border-box;
  border: 2px solid var(--grey-background);
  transition: background-color var(--transition-duration) ease-out,
              border-color var(--transition-duration) ease-out;
}

.modal-label {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
}

.modal-input {
  margin-left: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

.number-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 226px;
}

.number-input-wrapper {
  padding: 6px 13px 6px 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 87px;
  height: 26px;
  background-color: var(--grey-background);
  transition: background-color var(--transition-duration) ease-out,
              border-color var(--transition-duration) ease-out;
}

.number-input-wrapper input {
  width: 25px;
}

.modal-label.label-children {
  margin-left: 48px;
}

.modal-minus {
  display: flex;
  width: 12px;
  height: 3px;
}

.modal-plus {
  display: flex;
  width: 11px;
  height: 11px;
}

.modal-calendar {
  width: 21px;
  height: 23px;
  margin-right: 9px;
}

.calendar-svg path,
.minus-svg path,
.plus-svg path {
  transition: fill var(--transition-duration) ease-out;
}

.calendar-svg:hover path,
.minus-svg:hover path,
.plus-svg:hover path {
  fill: var(--basic-black)
}

.calendar-svg:active path,
.minus-svg:active path,
.plus-svg:active path {
  fill: var(--basic-blue)
}

.date-input-wrapper:hover,
.number-input-wrapper:hover {
  background-color: var(--grey-background-dark);
}

.modal-wrapper input:focus {
  outline: none;
}

.date-input-wrapper:focus-within {
  background-color: var(--basic-white);
  border-color: var(--basic-border);
}


/* Button */

.button {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
  transition: color var(--transition-duration) ease-out,
              background-color var(--transition-duration) cubic-bezier(0.11, 0, 0.5, 0);
}

.button.button-brown {
  min-height: 86px;
  min-width: 568px;
  background-color: var(--basic-brown);
}

.button.button-blue {
  min-height: 58px;
  min-width: 458px;
  margin-top: 54px;
  background-color: var(--basic-blue);
}

.button.button-filter {
  min-height: 36px;
  min-width: 137px;
  margin-top: 21px;
  margin-left: 85px;
  box-sizing: border-box;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
}

.button-brown:hover {
  background-color: var(--brown-button-hover)
}

.button-brown:active {
  background-color: var(--brown-button-active);
  color: var(--basic-white-opacity);
}

.button-blue:hover {
  background-color: var(--blue-button-hover)
}

.button-blue:active {
  background-color: var(--blue-button-active);
  color: var(--basic-white-opacity);
}

.button-filter:hover,
.button-filter:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Footer */

.page-footer {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  min-height: 120px;
  background-color: var(--basic-footer);
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
}

.footer-contacts p {
  margin: 0 0 0 -10px;
}

.footer-contacts p:first-of-type {
  margin-top: 19px;
}

.footer-contacts p:last-of-type {
  margin-bottom: 42px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  column-gap: 6px;
}

.social-twitter {
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-facebook {
  background-image: url("../img/svg/facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-youtube {
  background-image: url("../img/svg/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  transition: opacity var(--transition-duration) ease-out;
}

.social-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  transition: background-color var(--transition-duration) ease-out;
}

.social-item:hover {
  background-color: var(--blue-button-hover);
}

.social-item:active {
  background-color: var(--blue-button-active);
}

.social-link:active {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.8;
  padding-left: 5px;
  padding-bottom: 5px;
  color: var(--basic-black);
}

.footer-copyright a {
  margin-left: 8px;
}

.footer-logo path{
  transition: fill var(--transition-duration) ease-out;
}

.footer-logo:hover path {
  fill: var(--basic-blue)
}

.footer-logo:active path {
  fill: var(--logo-active)
}

/* Filter */

.filter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--basic-white);
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1056px;
  padding: 12px 72px 32px;

}

.filter-type-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 390px;
  background-color: var(--basic-blue);
}

.filter-type-wrapper ul {
  margin: 0;
}

.filter-type-wrapper li:not(:last-child):not(:first-child) {
  padding: 23px 0;
}

.filter-type-wrapper li:first-child {
  padding-top: 24px;
}

.filter-range-wrapper {
  position: relative;
  min-width: 317px;

}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.filter legend {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
}

.filter-option {
  position: relative;
}

.filter::before {
  content: '';
  position: absolute;
  top: -14px;
  width: 1200px;
  height: 217px;
  background-image: url("../img/hotels-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Sort */

.sort-wrapper {
  min-width: 1054px;
  padding: 25px 73px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--basic-black);
}

.sort-type-wrapper {
  min-width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 32px;
  align-items: center;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.sort-type-wrapper li:last-child {
  margin-left: 2px;
}

.sort-type-wrapper strong,
.sort-type-wrapper span {
  display: inline-block;
}

.sort-type-wrapper span {
  margin: 0 8px 0 14px;
}

.sort-maxmin-wrapper {
  width: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
}

.sort-wrapper fieldset {
  display: contents;
  font-size: 12px;
  line-height: 1.5;
}

.sort-wrapper ul {
  display: contents;
}

.link-sort {
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

/* Checkbox */

.filter-input-checkbox + label:before,
.filter-input-checkbox:checked + label::before,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled:checked + label::before {
  content: '';
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::before {
  background-image: url("../img/svg/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/svg/checkbox-off-active.svg");
}

.filter-input-checkbox:disabled:checked + label::before {
  background-image: url("../img/svg/checkbox-on-active.svg");
}

.filter-input-checkbox + label:hover {
  cursor: pointer;
}

/* Range Filter */

.range-filter {
  width: 317px;
  height: 70px;
  min-height: 50px;
}

.range-controls {
  position: relative;
  margin-top: 20px;
  background-color: transparent;
}

.range-controls .scale {
  height: 2px;
  width: 317px;
  background: var(--basic-white-opacity);
}

.range-controls .bar {
  position: relative;
  height: 2px;
  width: 252px;
  background: var(--basic-white);

}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
  transition: transform var(--transition-duration) ease-out;
}

.toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  position: relative;
  margin-top: 10px;
  padding: 3px 0;
  min-width: 317px;
  min-height: 36px;
  box-sizing: border-box;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls input {
  width: 60px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.min-price {
  margin-left: 65px;
}

.max-price {
  position: relative;
  margin-left: 58px;
}

.min-price input {
  margin-left: -2px;
}

.max-price:before {
  content: '';
  position: absolute;
  left: -53px;
  top: 0;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

/* Link Sort */

.link-sort,
.svg-maxmin path {
  cursor: pointer;
  transition: opacity var(--transition-duration) ease-out,
              border var(--transition-duration) ease-out,
              color var(--transition-duration) ease-out,
              fill var(--transition-duration) ease-out;
}

.link-sort-current {
  opacity: 1;
  border: none;
  color: var(--basic-blue);
}

.link-sort:active {
  opacity: 1;
  border: none;
  color: var(--basic-black);
}

.link-sort:hover {
  opacity: 1;
  color: var(--basic-blue);
}

.link-maxmin-current .svg-maxmin path {
  fill: var(--basic-blue);
}

.svg-maxmin:hover path {
  fill: var(--basic-black);
}

.svg-maxmin:active path {
  fill: var(--basic-blue);
}

/* Selection Hotels */

.selection-hotels {
  min-height: 289px;
}

.selection-hotels strong {
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black)
}

.selection-hotels span {
  font-size: 12px;
  line-height: 1.5;
  color: var(--basic-black);
}

/* Catalog Hotels */

.catalog-hotels {
  margin-bottom: 5px;
}

.list-hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 454px;
}

.hotels-title {
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black);
  transition: color var(--transition-duration) ease-out,
              opacity var(--transition-duration) ease-out;
}

.hotels-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px 73px 28px;
  min-height: 96px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid var(--basic-border);
}

.hotels-item-wrapper {
  min-width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-hotels-img {
  margin-top: 5px;
}

.hotels-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  width: 290px;
  min-height: 90px;
  margin-left: 30px;
}

.hotels-info-wrapper p {
  margin: 7px 6px 18px 0;
}

.hotels-info-wrapper a {
  min-width: 200px;
}

.catalog-hotels-img {
  width: 135px;
  height: 90px;
}

.hotels-item:last-child {
  border-top: 1px solid var(--basic-border);
  border-bottom: 1px solid var(--basic-border)
}

.hotels-title {
  margin: 0;
  white-space: nowrap;
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotels-info-wrapper .catalog-hotels-type {
  min-width: 116px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
  margin-right: 0;
}

.hotels-info-wrapper .catalog-hotels-price {
  min-width: 142px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
  margin-right: 5px;
}

.catalog-hotels-rate {
  position: relative;
  text-align: center;
  width: 110px;
  height: 27px;
  margin: 0;
  color: var(--rate);
  background-color: var(--grey-background);
}

.hotels-item .catalog-hotels-rate::before {
  content: '';
  position: absolute;
  top: -65px;
  right: -1px;
  height: 17px;
  width: 90px;
  background-repeat: no-repeat;
}

.hotels-item:first-child .catalog-hotels-rate::before {
  background-image: url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg");
  background-position: 72px 0,
                       49px 0,
                       24px 0,
                       0 0;
  background-repeat: no-repeat;
}

.hotels-item:nth-child(2) .catalog-hotels-rate::before {
  background-image: url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg");
  background-position: 72px 0,
                       49px 0,
                       25px 0;
  background-repeat: no-repeat;
}

.hotels-item:last-child .catalog-hotels-rate::before {
  background-image: url("../img/svg/rate-star.svg"),
                    url("../img/svg/rate-star.svg");
  background-position: 72px 0,
                       49px 0;
  background-repeat: no-repeat;
}

  /* Link */

.link {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  min-height: 27px;
  box-sizing: border-box;
  transition: background-color var(--transition-duration) ease-out;
}

.link.link-brown {
  min-width: 142px;
  padding: 2px 11px 3px 8px;
  margin-left: 6px;
  background-color: var(--basic-brown);
}

.link.link-blue {
  min-width: 110px;
  padding: 2px 12px 3px 11px;
  background-color: var(--basic-blue);
}

.link-brown:hover {
  background-color: var(--brown-button-hover)
}

.link-brown:active {
  background-color: var(--brown-button-active)
}

.link-blue:hover {
  background-color: var(--blue-button-hover)
}

.link-blue:active {
  background-color: var(--blue-button-active)
}

/* Script */

.modal-close {
  display: none;
}

