/* Fonts */

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-grey: #eeeeee;
  --aside-grey: #888888;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;

  --rate: #666666;
  --rate-background: #f2f2f2;

  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-border: #e5e5e5;

  --brown-button-hover: #604e43;
  --brown-button-active: #503e33;
  --blue-button-hover: #669eC0;
  --blue-button-active: #5496bd;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black)
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--basic-white);
}

/* Utility */

.reset-list-styles {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Navigation */

.header {
  margin-bottom: 509px;
}

.header-nav {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.8;
  color: var(--basic-black);
  font-weight: 700;
}

.header-logo {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  justify-self: center;
}

.site-nav {
  grid-row-start: 1;
  grid-column-start: 1;
}

.site-nav-current {
  color: var(--basic-brown)
}

.site-nav a:hover {
  color: var(--basic-blue)
}

.site-nav a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Main */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
}

/* Short-info */

.short-info{
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
}

/* Features */

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "r1 r1 r1"
    "r1 r1 r1"
    "r2 r2 r2"
    "r3 r4 r5";
}

.reason-1 {
  grid-area: r1;
}

.reason-2 {
  grid-area: r2;
}

.reason-3 {
  grid-area: r3;
}

.reason-4 {
  grid-area: r4;
}

.reason-5 {
  grid-area: r5;
}

.features h2 + p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--basic-black-light);
  text-align: center;
}

.features-item {
  min-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.features h3,
.features h4 {
  font-size: 21px;
  line-height: 1;
}

.features img {
  color: inherit;
  background-color: inherit;
}

.features-item-city {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 256px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.features-item.other {
  color: var(--basic-black-light);
  background-color: var(--basic-grey);
}

/* Modal */
.modal {
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.interested {
  font-size: 30px;
  line-height: 0.8;
  text-align: center;
  font-weight: 700;
}

.set-date {
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
  text-align: center;
}

/* Button */

.button {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
.button.button-brown {
  background-color: var(--basic-brown);
}

.button.button-blue {
  background-color: var(--basic-blue);
}

.button-brown:hover {
  background-color: var(--brown-button-hover)
}

.button-brown:active {
  background-color: var(--brown-button-active)
}

.button-blue:hover {
  background-color: var(--blue-button-hover)
}

.button-blue:active {
  background-color: var(--blue-button-active)
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 474px auto 0 auto;
  width: 1200px;
  background-color: var(--basic-footer)
}

.footer-contacts {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
}

.footer-socials {
  text-align: center;
}

.social-link {
  color: var(--basic-white);
  background-color: var(--basic-blue)
}

.social-link:hover {
  background-color: var(--blue-button-hover)
}

.social-link:active {
  background-color: var(--blue-button-active)
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.8;
  color: var(--basic-black);
}

/* Selection Hotels */

.selection-hotels strong {
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black)
}

.selection-hotels span {
  font-size: 12px;
  line-height: 1.5;
  color: var(--basic-black);
}

/* Catalog Hotels */

.hotels-title {
  font-size: 21px;
  line-height: 1.2;
  color: var(--basic-black)
}

.hotels-item {
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid var(--basic-border);
}

.hotels-item:last-child {
  border-top: 1px solid var(--basic-border);
  border-bottom: 1px solid var(--basic-border)
}

.hotels-item a h3:hover{
  color: var(--basic-blue);
}

.hotels-item a h3:active{
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.catalog-hotels-type {
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
}

.catalog-hotels-price {
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-black-light);
}

.catalog-hotels-rate {
  color: var(--rate);
  background-color: var(--rate-background);
}


